@use 'ui/variables' as var

.changePasswordForm
    @include var.flex
    min-height: 65vh
    justify-content: flex-start
    padding-block: 3rem

    label
        @include var.flex
        align-items: flex-start
        gap: 1.4rem
        width: 100%

    .btn
        @include var.button(unset)
        width: 20rem
        max-width: 100%
