@use 'ui/variables' as var


.likeButton
    position: relative
    
    .numberOfLikes
        background-color: var.$red
        color: #FFF
        border-radius: 99rem
        position: absolute
        font-size: 1.2rem
        font-family: var.$futura
        bottom: -0.3rem
        left: 2.4rem
        padding: 0 0.5rem