@use 'ui/variables' as var

.noPosts
    @include var.flex
    border-top: 0.5rem solid var.$orange
    width: 100%
    padding: 3rem 0

    span
        color: var.$red
        font-size: 3rem
        font-family: var.$omnes
        font-weight: var.$omnes-semibold
