@use 'ui/variables' as var

.loading
    display: flex
    justify-content: center
    border-top: 0.5rem solid var.$orange
    padding: 2rem 0
    width: 100%

    svg
        animation: rotate 2s linear infinite

@keyframes rotate
    0%
        transform: rotate(0deg)
    100% 
        transform: rotate(360deg)