@use 'ui/variables' as var

.userHeader
    display: flex
    align-items: flex-start
    justify-content: space-around
    padding: 1rem 3rem 2rem
    gap: 2rem
    background-color: var.$theme
    width: 100%
    img
        @include var.circle
        max-width: 9rem
    &>div
        @include var.flex
        gap: 1.5rem

        .heading
            display: flex
            align-items: center
            gap: 1rem
            justify-content: space-between
            h1
                font-size: 2.4rem
                font-weight: 600
                line-height: normal
            button
                font-size: 1.6rem
                text-decoration: underline

        .rowInfo
            display: flex
            justify-content: space-between
            gap: 1rem

            .userNumbers
                @include var.flex

                .number
                    font-weight: var.$omnes-semibold
                    font-size: 1.8rem
                span
                    font-weight: var.$omnes-medium
                    font-size: 1.4rem

            button
                min-width: 9rem
                padding: 1rem
                font-size: 1.3rem



