@use 'style/variables' as var

.header
        @include var.flex(row)
        justify-content: space-between
        padding: 1.6rem 2rem

        .button
                font-family: var.$gloria
                background: var.$gradient
                color: #fff
                font-size: 1.6rem
                padding: 0rem 1rem
                border-radius: 3rem
        button
                width: 6rem


                