@mixin authentification
    display: flex
    flex-direction: column
    width: 100%
    gap: 3rem
    h1
        max-width: 21rem
    img
        height: 14rem
    button
        margin-top: 1.5rem
    
.main
    padding: 4rem
    text-align: center
    max-width: 30rem
.back
    padding: 1.5rem
.frame
    max-width: 40rem
    padding: 2rem 4rem
    margin: 0 auto

.paw
    background: no-repeat url("/assets/paw.svg")
    background-size: contain
    background-position: center
    height: 17rem
    width: 100%

.signUp
    @include authentification
    
.logIn
    @include authentification
    
    
    