@use 'ui/variables' as var

$cycles: 10turn
$timeOut: 500ms

.overlay
    @include var.full
    position: fixed
    top: 0
    right: 0

.profile
    @include var.full
    background: white
    padding: 3rem 4rem
    animation: slide-in 300ms ease-in-out


    .profilePic
        @include var.flex
        gap: 1rem
        img
            @include var.circle
            max-width: 10rem

    .editButton
        color: #0bf
        font-size: 1.6rem
    label
        @include var.redLabel

    form
        input
            border: none
            border-radius: 0
            border-bottom: 0.1rem solid var.$orange

.close
    animation: slide-out $timeOut ease-in-out
.rotate
    animation: rotate $timeOut
    transform: rotate($cycles)

.rotate180
    transform: rotate(180+360deg)
    animation: rotate180 400ms ease-out

.rotateBack
    transform: rotate(0deg)
    animation: rotate-back 400ms ease-out
    
@media (min-width: var.$small-breakpoint)
    
    .overlay
        background: #0007
        inset: 0
        display: flex
        justify-content: center
        align-items: center
    
    .profile
        width: var.$small-breakpoint
        border-radius: 3rem
        max-height: 90vh
        overflow: scroll




@keyframes slide-in
    from
        right: -50rem
    to
        right: 0
@keyframes slide-out
    from
        right: 0
    to
        right: -50rem
@keyframes rotate
    from
        transform: rotate(0deg)
    to
        transform: rotate($cycles)

@keyframes rotate180
    from
        transform: rotate(0deg)
    to 
        transform: rotate(180+360deg)
@keyframes rotate-back
    from
        transform: rotate(180+360deg)
    to 
        transform: rotate(0deg)