$futura: "futura-pt", Helvetica, Arial, sans-serif
$futura-bold: "futura-pt-bold", Helvetica, Arial, sans-serif
$omnes: "omnes-pro", Helvetica, Arial, sans-serif
$gloria: gloria-hallelujah, Helvetica, Arial, sans-serif
$omnes-regular: 500
$omnes-bold: 800
$heavy: 700
$gradient: linear-gradient(90deg, #F03 0%, #F60 100%)
$red: #ED002F

@mixin flex-col
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

@mixin full
    height: 100%
    width: 100%