$futura: "futura-pt", Helvetica, Arial, sans-serif
$futura-bold: "futura-pt-bold", Helvetica, Arial, sans-serif
$omnes: "omnes-pro", Helvetica, Arial, sans-serif
$gloria: gloria-hallelujah, Helvetica, Arial, sans-serif
$omnes-regular: 500
$omnes-medium: 600
$omnes-semibold: 700
$heavy: 700
$gradient: linear-gradient(90deg, #F03 0%, #F60 100%)
$red: #ED002F
$orange: #F60

@mixin flex($direction: column)
    display: flex
    flex-direction: $direction
    justify-content: center
    align-items: center

@mixin full
    height: 100%
    width: 100%

@mixin circle
    border-radius: 50%
    height: auto
    aspect-ratio: 1/1
    
@mixin button($minWidh: 20rem)
    font-family: $gloria
    align-items: center
    background: $gradient
    border: none
    border-radius: 1rem
    color: white
    display: flex
    font-size: 1.6rem
    gap: 1rem
    justify-content: center
    min-width: $minWidh
    max-width: min-content
    line-height: 1.6rem
    letter-spacing: 0.1rem
    padding: 1.5rem 2rem
    margin: 0 auto
    text-decoration: none

@mixin redLabel
    text-transform: uppercase
    color: var.$red
    font-family: var.$futura
    