.navBar
    position: sticky
    bottom: 0
    flex-shrink: 0
    background: white
    width: 100%
    ul
        display: flex
        justify-content: space-around
        align-items: center
        padding: 1rem 4rem
        list-style: none

        .iconHome
            width: 4rem
            height: auto
        .iconProfile
            @extend .iconHome
        .iconAdd
            width: 6rem
            height: auto
.hidden
    display: none