@use 'ui/variables' as var

.navBar
    position: sticky
    bottom: 0
    flex-shrink: 0
    background: white
    width: 100%
    ul
        display: flex
        justify-content: space-around
        align-items: center
        padding: 1rem 4rem
        list-style: none

        .iconHome
            width: 4rem
            height: auto
        .iconProfile
            @extend .iconHome
        .iconAdd
            width: 6rem
            height: auto

@media (min-width: var.$dashboard-max-width + 280)
    .navBar
        position: fixed
        left: 0
        top: 0
        width: fit-content
        box-shadow: #0002 0rem 0rem 2rem

        ul
            flex-direction: column
            height: 100vh
            justify-content: space-evenly

            li
                padding-block: 3rem

                a, label
                    height: 100%
                