@use 'ui/variables' as var
    
.resetPasswordForm
    @include var.flex
    min-height: 61vh
    justify-content: flex-start
    padding-block: 3rem

    label
        @include var.flex
        align-items: flex-start
        gap: 1.4rem
        width: 100%

    .btn
        @include var.button(unset)
        width: 20rem
        max-width: 100%
    
.message
    width: 100%
    padding: 0.5rem 1rem
    font-weight: 500

    &.error
        color: var.$red
    &.success
        color: #0bf