@use '../../../style/variables' as var

.overlay
    @include var.full
    @include var.flex
    position: fixed
    justify-content: flex-end
    align-items: stretch
    bottom: 0
    left: 0
    background: #1115

    .wrapper
        @include var.flex
        background-color: #fff
        padding: 1rem 1rem
        position: relative
        border-radius: 3rem 3rem 0 0
        h2
            border-block-end: 0.2rem solid var.$red
            padding: 1rem
            text-align: center
            width: 100%

.closeButton
    position: absolute
    top: 2.5rem
    right: 2.5rem