@use 'style/variables' as var

.input
    display: none

.container
    position: relative
    top: 0
    left: 0
    width: 100vw
    height: 100vw
    max-width: 400px
    max-height: 400px

    .cropper
        background: #222
    .shadow
        background: radial-gradient(circle at center,transparent 0,transparent 69.9%,black 70%,black 100%)
        position: absolute
        inset: 0
        opacity: 0.5
        pointer-events: none
    
.slider
    padding-inline: 0
    background-color: var.$red

.buttons
    @include var.flex(row)
    gap: 10rem
    padding-block: 2rem
    width: 100%