.back
    padding: 1.5rem

.frame
    max-width: 40rem
    padding: 2rem 4rem
    margin: 0 auto

.paw
    background: no-repeat url("/assets/paw.svg")
    background-size: contain
    background-position: center
    height: 17rem
    width: 100%