@use 'ui/variables' as var

.back
    padding: 1.5rem

.frame
    max-width: 40rem
    padding: 2rem 4rem
    margin: 0 auto

.paw
    background: no-repeat url("/assets/paw.svg")
    background-size: contain
    background-position: center
    height: 17rem
    width: 100%

.authentication
    display: flex
    flex-direction: column
    width: 100%
    gap: 3rem
    h1
        max-width: 21rem
    img
        height: 14rem
    button
        margin-top: 1.5rem
    form
        width: 100%

        label
            color: var.$red
            text-transform: uppercase
            font-family: var.$futura